.partner{
  width: 192rem;

  &__inner{
    display: block;
    width: 192rem;
    margin: 0 auto;
    margin-bottom: 6rem;

    @include respond(phone){
      width: 60rem;
      margin-left: 30rem;
    }

    @include respond(port){
      width: 90rem;
      margin: 0 auto;
    }

    @include respond(land){
      width: 120rem;
      margin: 0 auto;
    }
  }

  &__title{
    display: block;
    width: 22.6rem;
    margin-left: 37rem;
    margin-bottom: 5rem;

  }

  &__wrap{
    width: 128rem;
    display: block;
    margin: 0 auto;
    position: relative;

    @include respond(phone){
      display: block;
      width: 60rem;
    }

    @include respond(port){
      display: block;
      width: 90rem;
    }

    @include respond(land){
      width: 120rem;
      display: block;
    }
  }

  &__container{
    width: 144rem;
    overflow: hidden;

    @include respond(phone){
      width: 60rem;
      display: block;
      margin-left: 25rem;
    }

    @include respond(port){
      width: 90rem;
      display: block;
    }

    @include respond(land){
      width: 120rem;
      margin: 0 auto;
    }
  }

  &__track{
    display: flex;
    transition: .2s;
  }

  &__item{
    height: 250px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__group{
    width: 144rem;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }

  &__box{
    display: block;
    width: 21.8rem;
    margin-right: 2rem;
    background: #FAFAFA;
  }

  &__img{
    display: block;
    margin: 0 auto;
    padding-top: 3.7rem;
    padding-bottom: 3.7rem;
    background-size: cover;
    width: 9rem;
  }

  &__btn{
    display: block;
    width: 70px;
    height: 40px;
    border: 1px solid #DBDBDB;
    background: #118BDD;
  }

  &__btn:hover{
    background: #32A1DF;
  }

  &__btn:disabled{
    background: #FFFFFF;
  }

  &__btn_prev:disabled::before{
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 2.8rem;
    border: solid #DBDBDB;
    border-width: 2px 2px 0 0;
    transform: rotate(-135deg);
  }

  &__btn_next:disabled::before{
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 2.8rem;
    border: solid #DBDBDB;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
  }

  &__btn_prev{
    position: absolute;
    top: -40%;
    right: -20px;
  }

  &__btn_prev::before{
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 2.8rem;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    transform: rotate(-135deg);
  }

  &__btn_next{
    position: absolute;
    top: -40%;
    right: -89px;
  }

  &__btn_next::before{
    content: "";
    display: block;
    width: 11px;
    height: 11px;
    margin-left: 2.8rem;
    border: solid #fff;
    border-width: 2px 2px 0 0;
    transform: rotate(45deg);
  }

  &__dots{
    display: none;
    margin-right: 3%;
    text-align: center;
  }

  &__dot{
    display: inline-block;
    margin: 0 10px;
    width: 10px;
    height: 10px;
    border: 2px solid #219653;
    border-radius: 50%;
    outline: none;
  }

  &__dot:hover,
  &__dot:focus{
    border-color: rgba(26, 101, 174, 0.7);
  }

  &__dot_active{
    background-color: #219653;
    color: rgba(26, 101, 174, 0.7);
  }

  &__dot_active:hover,
  &__dot_active:focus{
    border-color: transparent;
    background-color: rgba(26, 101, 174, 0.7);
  }
}
